/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */
section[role="region"] > header:first-child {
  background: #005466;
  border: none;
  height: 4.5rem;
}

section[role="region"] > header:first-child:after {
  display: none;
}

section[role="region"] > header:first-child h1 {
  color: #00ff99;
}

section[role="region"] > header:first-child h1 em {
  border-radius: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
  font-size: 1.2rem;
  background: #00ff99;
  color: #005466;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0.7rem;
  left: 1.8rem;
}

section[role="region"] > header:first-child input[type="text"] {
  border: none;
  background: none;
  border-radius: 0;
  color: #fff;
}

section[role="region"] > header:first-child input[type="text"]::-moz-placeholder {
  opacity: 0.35;
}

/* Generic set of actions in toolbar */
section[role="region"] > header:first-child menu[type="toolbar"] a,
section[role="region"] > header:first-child menu[type="toolbar"] button {
  height: 4.4rem;
  line-height: 4.4rem;
}

section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background: none;
  margin-left: 0
}

/* Pressed state */
section[role="region"] > header:first-child > a:not([aria-disabled="true"]):active:after,
section[role="region"] > header:first-child > button:not(:disabled):active:after,
section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):active,
section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):active  {
  background: rgba(0,0,0,0.3) !important;
  height: 3em;
}

/* Disabled state */
section[role="region"] > header:first-child menu[type="toolbar"] a[aria-disabled="true"],
section[role="region"] > header:first-child menu[type="toolbar"] button[disabled]  {
  opacity: 0.5;
}

/* Icon definitions */
section[role="region"] > header:first-child .icon {
  padding-top: 0.7rem;
  height: 4.4rem;
  background: none !important;
}

section[role="region"] > header:first-child .icon:before {
  position: relative;
  margin-left: 0.2rem;
}

/* Navigation links (back, cancel, etc) */
section[role="region"] > header:first-child > button,
section[role="region"] > header:first-child > a {
  margin: 0 -3.5rem 0 0;
  height: 4.4rem;
}

section[role="region"] > header:first-child > button:after,
section[role="region"] > header:first-child > a:after {
  width: 3.5rem;
  background: rgba(0,0,0,0.05);
  height: 4.4rem;
}

section[role="region"] > header:first-child > button .icon:before,
section[role="region"] > header:first-child > a .icon:before {
  color: rgba(255,255,255,0.5);
}

/* ----------------------------------
 * HEADERS: subheader
 * ---------------------------------- */

/*section[role="region"] > header {
  z-index: 0;
  height: auto;
}

section[role="region"] > header:after {
  display: none;
}

section[role="region"] header h2 {
  margin: 0;
  padding: 0.8rem 3rem;
  color: #424242;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  border-bottom: solid 0.1rem #e6e6e6;
}*/

/* ----------------------------------
 * Theme: A
 * ---------------------------------- */

.theme-A section[role="region"] > header:first-child {
  background: #009966;
}

.theme-A section[role="region"] > header:first-child h1 {
  color: #fff;
}

.theme-A section[role="region"] > header:first-child h1 em {
  color: #009966;
  background: #fff;
}

.theme-A section[role="region"] > header:first-child menu[type="toolbar"] a, 
.theme-A section[role="region"] > header:first-child menu[type="toolbar"] button {
  color: #80cc33;
}

/* ----------------------------------
 * Theme: B
 * ---------------------------------- */

.theme-B section[role="region"] > header:first-child {
  background: #ff6633;
}

.theme-B section[role="region"] > header:first-child h1 {
  color: #fff;
}

.theme-B section[role="region"] > header:first-child h1 em {
  color: #ff6633;
  background: #fff;
}

.theme-B section[role="region"] > header:first-child menu[type="toolbar"] a, 
.theme-B section[role="region"] > header:first-child menu[type="toolbar"] button {
  color: #ffb319;
}

/* ----------------------------------
 * Theme: C
 * ---------------------------------- */

.theme-C section[role="region"] > header:first-child {
  background: #00c5d9;
}

.theme-C section[role="region"] > header:first-child h1 {
  color: #fff;
}

.theme-C section[role="region"] > header:first-child h1 em {
  color: #00c5d9;
  background: #fff;
}

.theme-C section[role="region"] > header:first-child menu[type="toolbar"] a, 
.theme-C section[role="region"] > header:first-child menu[type="toolbar"] button {
  color: #fff;
}
